html {
  background-image: url(https://wallpapercave.com/wp/wp5728306.jpg);
  height: 100%;
  min-width: 100%;
  background-attachment: fixed;
  transition: opacity 90s linear;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;

}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  overflow-y: auto;
}

.auth-form-container,
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  padding: 5%
}

.homepage-container {
  display: flex;
  flex-direction: column;
  background: rgba(255, 0, 0, 0);
  width: 90%;
  padding: 5%;
}

.homepage-post {
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 15px;
  border-radius: 15px;

  text-align: justify;
  font-size: 8px;
}

.p1 {

  text-align: justify;
  font-size: 3px;

}

.homepage-post_karma {
  color: cyan;

}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;

  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}


button {
  color: #ffffff;
  border: 0;
  vertical-align: middle;
  border-radius: 10px;
  font-weight: 600;
  margin: 0 50px;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  padding: 5px 0;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  transition: 0.4s;
}

#button li {
  display: inline;
}

.button-reg2 {
  font-size: 10px;

}

.button-cad {
  font-size: 9px;
}



.logo {
  border-radius: 0px;
  margin: 0 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100px;

}